:root {
  --main-color: blue;
  --secondary-color: skyblue;
  --grid-gap: 5px;
  --font-size: 1em;
}
p {
  font-size: var(--font-size);
  display: inline-block;
}

a:matches(:hover, :focus, :active, :visited) /* Hardly Supported Yet */ {
  color: crimson;
}
@supports (display: grid) {} /* Check for support of a CSS*/

#wrapper {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-template-rows: 4em 12em auto 4em;
  grid-template-areas:
  "nav nav nav"
  "hd hd hd"
  "side cnt cnt"
  ". ft ft";
  grid-gap: var(--grid-gap);
  height: 100%;
}

.header {
  background-color: var(--main-color);
  grid-area: hd;
  margin: 0 0 0 0;
}

.sidebar {
  background-color: pink;
  grid-area: side;
}

.navbar {
  background-color: var(--secondary-color);
  grid-area: nav;
  --font-size: 1.5em;
}

.content {
  background-color: yellow;
  grid-area: cnt;
}

.footer {
  background-color: grey;
  grid-area: ft;
}

.email {
  margin-left: 1em;
}

.email:focus:invalid {
  border-color: crimson;
}
.email:focus + .icn::before {
  content: '❌';
}
.email:valid {
  border-color: green;
}
.email:valid + .icn::before {
  content: '✅';
}

@media (max-width: 550px) {
  #wrapper {
    grid-template-rows: 4em 5em 30em 22em 4em;
    grid-template-areas:
    "hd hd hd"
    "nav nav nav"
    "cnt cnt cnt"
    "side side side"
    ". ft ft";
  }
}
