<html>
<body>
  <form id="form" name="signupform" method="post" action="/registrations">
    <label for="username">Username</label>
    <input  type="text" name="username" maxlength="50">
    <label for="password">Password</label>
    <input  type="text" name="password" maxlength="50">
    <input type="submit" value="Submit">
  </form>